<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CADASTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CADASTRO</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <div class="principal">
    <p>Bem vindo!</p>
    <p>Crie sua conta e tenha acesso ao seu acervo de livros.</p>
    <br>
    <div class="input">
      <ion-input label="Nome" label-placement="floating" fill="outline" placeholder="Digite o nome"></ion-input>
      <br>
      <ion-input label="Telefone" label-placement="floating" fill="outline" placeholder="Digite o telefone"></ion-input>
      <br>
      <ion-input label="E-mail ou nome de usuário" label-placement="floating" fill="outline"
        placeholder="Digite o e-mail"></ion-input>
      <br>
      <ion-input label="Senha" label-placement="floating" fill="outline" placeholder="Digite a senha"></ion-input>
      <br>
    </div>
    <a href="../folder/inbox">
      <ion-button fill="outline" color="#E48F45">CADASTRAR</ion-button>
    </a>
    </div>
  <div class="cadastro">
    <p>Possui uma conta? <a href="/login">Clique aqui</a></p>
  </div>
</ion-content>