ion-header {
    text-align-last: center;
    --background: var(--ion-item-background, var(--ion-background-color, #E48F45));
    color: #E48F45;
  }
  
  ion-header ion-title{
    color:#000
  }
  
  ion-content {
    --ion-background-color: #fff;
  }
  
  ion-toolbar{
    --background: #E48F45
  }
  
  ion-menu-button {
    color: var(--ion-color-primary);
    background-color: #E48F45;
    color: #000;
  }
  
  ion-searchbar{
  align-items: center;
  background-color: #F5CCA0;
  }
  
  .pesquisar{
  
    background-color: #F5CCA0 ;
    border: 1px solid #F5CCA0;
    border-radius: 5px;
    margin-bottom: 5%;
    padding: 2%;
  }
  
  
  .tags{
    margin: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
  
  }
  
  .tag{
    font-size: 18px;
    width: auto;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #F5CCA0;
    align-content: center;
    padding: 2%;
    color: #000;
  
  
  }
  
  .titulo{
    margin: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #000;
  
  }
  
  #container {
  margin: 5%
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }

  #container h2{
    margin: 7% 0;
    font-weight: bold;

  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  #container .tags {
    border-radius: 5px;
  
  }
  
  .header-title ion-icon{
    margin-left: -140px;
    width: 30px;
    height: 25px;
  }
  
  
  .item{
    width: 100%;
  }
  
  .wrapper{
    max-height: 250px;
    display: flex;
    overflow-x: auto;
  }
  
  .wrapper::-webkit-scrollbar{
    width: 0;
  }
  
  
  
  .wrapper .item{
    min-height: 120px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #ddd;
    margin-right: 20px;
    width: 100px;
  
  }
  
  
  ion-footer{
    background-color: #E48F45;
    bottom:0;
    position:fixed; 
    width:100%;
    margin: auto auto auto auto;
    padding: 10px 5px;
    display: flex;
    justify-content: space-evenly;
  }
   
  ion-footer ion-icon{
    width: 30px;
    height: 30px;
   
  }
   
  .botao-icon{
    width: 50px;
    height: 50px;
    align-content: center;
    text-align-last: center;
  }
   
  .botao-icon:hover{
    width: 50px;
    height: 50px;
    background-color: #F5CCA0;
    border-radius: 40px;
    align-content: center;
    text-align-last: center;
  }
  
  .footer-icon{
    color: #5F6368;
  
  }