<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon slot="start" name="cafe"></ion-icon>
      Onbook
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
 
  <div id="container">
 
    <section>
      <div class="container-pesquisa">
        <ion-searchbar animated="true" placeholder="Pesquisar" color="#F5CCA0"></ion-searchbar>
      </div>
    </section>
 
    <section>
      <div class="tags">
        <div class="tag">Romance </div>
        <div class="tag">Ação</div>
        <div class="tag">Ficção</div>
      </div>
    </section>
 
 
    <section>
      <div class="titulo">
        <h3>Biblioteca</h3>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
 
      <div class="wrapper">
        <img class="item" src="https://picsum.photos/id/233/200/300" alt="">
        <img class="item" src="https://picsum.photos/id/234/200/300" alt="">
        <img class="item" src="https://picsum.photos/id/235/200/300" alt="">
      </div>
 
 
    </section>
 
    <section>
      <div class="titulo">
        <h3>Você pode gostar</h3>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
 
 
      <div class="wrapper">
        <img class="item" src="https://picsum.photos/id/236/200/300" alt="">
        <img class="item" src="https://picsum.photos/id/237/200/300" alt="">
        <img class="item" src="https://picsum.photos/id/239/200/300" alt="">
      </div>
 
    </section>

    <section>
      <div class="titulo">
        <h3>Você pode gostar</h3>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
 
 
      <div class="wrapper">
        <img class="item" src="https://picsum.photos/id/236/200/300" alt="">
        <img class="item" src="https://picsum.photos/id/237/200/300" alt="">
        <img class="item" src="https://picsum.photos/id/239/200/300" alt="">
      </div>
 
    </section>

  </div>
 
 
  <ion-footer>
    <div class="botao-icon">
      <ion-icon class="footer-icon" name="home"></ion-icon>
    </div>
    <div class="botao-icon">
      <ion-icon class="footer-icon" name="book"></ion-icon>
    </div>
    <div class="botao-icon">
      <ion-icon class="footer-icon" name="star"></ion-icon>
    </div>
 
 
  </ion-footer>
 
 
</ion-content>