<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-title>{{ folder }}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <section>
      <ion-searchbar placeholder="Pesquisar"></ion-searchbar>

      <div>
        <ion-button class="tags" fill="outline" size="small">Romance</ion-button>
        <ion-button class="tags" fill="outline" size="small">Ficção</ion-button>
        <ion-button class="tags" fill="outline" size="small">Ação</ion-button>
      </div>
    </section>

    <section>
      <div class="titulo">
        <h4>Biblioteca <ion-icon name="chevron-forward-outline"></ion-icon>
        </h4>
      </div>

      <div class="wrapper">
        <div class="item">Imagem</div>
        <div class="item">Imagem</div>
        <div class="item">Imagem</div>
      </div>



    </section>

    <section>
      <div class="titulo">
        <h4>Você pode gostar</h4>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>


      <div class="wrapper">
        <div class="item">Imagem</div>
        <div class="item">Imagem</div>
        <div class="item">Imagem</div>
      </div>

    </section>





  </div>
</ion-content>