<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header-title">
      <ion-title>Onbook</ion-title>
      <ion-icon slot="start" name="cafe"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <section>
      
      <div class="container-pesquisa">
        <ion-searchbar animated="true" placeholder="Pesquisar" color="#F5CCA0"></ion-searchbar>
      </div>
    </section>

    <section>
      <div class="tags">
        <div class="tag">Romance </div>
        <div class="tag">Ação</div>
        <div class="tag">Ficção</div>
      </div>
    </section>


    <section>
      <div class="titulo">
        <h3>Biblioteca</h3>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

      <div class="wrapper">
        <div>
          <img class="item" src="https://picsum.photos/id/176/200/300" alt="">
          <p>Litoral</p>
        </div>
        <div>
          <img class="item" src="https://picsum.photos/id/267/200/300" alt="">
          <p>Ilha perdida</p>
        </div>
        <div>
          <img class="item" src="https://picsum.photos/id/299/200/300" alt="">
          <p>Cidade</p>
        </div>
      </div>


    </section>

    <section>
      <div class="titulo">
        <h3>Você pode gostar</h3>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>


      <div class="wrapper">
        <div>
          <img class="item" src="https://picsum.photos/id/256/200/300" alt="">
          <p>Gelo</p>
        </div>
        <div>
          <img class="item" src="https://picsum.photos/id/417/200/300" alt="">
          <p>Poluição</p>
        </div>
        <div>
          <img class="item" src="https://picsum.photos/id/609/200/300" alt="">
          <p>Cascata</p>
        </div>
      </div>

    </section>

    <section>
      <div class="titulo">
        <h3>Recomendados</h3>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>


      <div class="wrapper">
        <div>
          <img class="item" src="https://picsum.photos/id/146/200/300" alt="">
          <p>Bike</p>
        </div>
        <div>
          <img class="item" src="https://picsum.photos/id/217/200/300" alt="">
          <p>Flroesta</p>
        </div>
        <div>
          <img class="item" src="https://picsum.photos/id/209/200/300" alt="">
          <p>Tunel</p>
        </div>
      </div>

    </section>

  </div>


  <ion-footer>
    <div class="botao-icon">
      <a href="/">
        <ion-icon class="footer-icon" name="home"></ion-icon>
      </a>
    </div>
    <div class="botao-icon">
      <a href="">
        <ion-icon class="footer-icon" name="book"></ion-icon>
      </a>
    </div>
    <div class="botao-icon">
      <a href="/favorito">
        <ion-icon class="footer-icon" name="star"></ion-icon>
      </a>
    </div>
  </ion-footer>


</ion-content>