ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #E48F45));
}

.icon-title{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.icon-title ion-icon{
  width: 30px;
  height: 30px;
  margin-top: 30px;
  margin-left: 20px;
}

.icon-title ion-list-header{
  font-size: 26px;
}


ion-list-header{
  background-color: #E48F45;
}


ion-list {
  ion-item {
    --background: #E48F45; 
    --color: #000; 
  }
}

ion-toolbar {
  --background: #E48F45;
  --color: #E48F45; 
}

.list-ios {
  background: #e48f45;
}

ion-menu.md{
  background-color: green;
}


ion-menu.md ion-content {
  --background: #E48F45;
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
  color: #E48F45;
  background-color: #E48F45;
}

ion-menu.md ion-note {
  --background: #E48F45;
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  --background: #E48F45;
  border-bottom: 1px solid var(--ion-background-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  --background: #E48F45;
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu ion-list-header{
  color:#000
}

ion-menu.md ion-list#labels-list ion-list-header {
  --background: #E48F45;
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --background: #E48F45;
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: #E48F45;
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  --background: #E48F45;
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  --background: #E48F45;
  font-weight: 500;
}

ion-menu.ios ion-content {
  --background: #E48F45;
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  --background: #E48F45;
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  --background: #E48F45;
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --background: #E48F45;
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 70px;
}

ion-menu.ios ion-item.selected ion-icon {
  --background: #E48F45;
  color: var(--ion-color-primary), #000;
}

ion-menu.ios ion-item ion-icon {
  --background: #E48F45;
  font-size: 24px;
  color: #66686b;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  --background: #E48F45;
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  --background: #E48F45;
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  --background: #E48F45;
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

