<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header-title">
      <ion-title>Onbook</ion-title>
      <ion-icon slot="start" name="cafe"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="conteudo-favorito">
  <h2>Favoritos</h2>
  <section class="livros">
    <ion-card>
      <img alt="Ponte Abandonada" src="https://picsum.photos/id/283/300/300" />
      <ion-card-header>
        <ion-card-subtitle>Ponte Abandonada</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Quarto Abandonada" src="https://picsum.photos/id/263/300/300" />
      <ion-card-header>
        <ion-card-subtitle>Quarto Abandonada</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Cidade Luz" src="https://picsum.photos/id/223/300/300" />
      <ion-card-header>
        <ion-card-subtitle>Cidade Luz</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Praia" src="https://picsum.photos/id/213/300/300" />
      <ion-card-header>
        <ion-card-subtitle>Praia</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </section>

  <ion-footer>
    <div class="botao-icon">
      <a href="/">
        <ion-icon class="footer-icon" name="home"></ion-icon>
      </a>
    </div>
    <div class="botao-icon">
      <a href="/biblioteca">
        <ion-icon class="footer-icon" name="book"></ion-icon>
      </a>
    </div>
    <div class="botao-icon">
      <a href="/favorito">
        <ion-icon class="footer-icon" name="star"></ion-icon>
      </a>
    </div>
  </ion-footer>

</ion-content>