<ion-header>
  <ion-toolbar>
    <ion-title>favorito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <section class="livros">
    <ion-card>
      <img alt="Silhouette of mountains" src="https://picsum.photos/id/283/300/300" />
      <ion-card-header>
        <ion-card-subtitle>Ponte Abandonada</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://picsum.photos/id/263/300/300" />
      <ion-card-header>
        <ion-card-subtitle>Ponte Abandonada</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://picsum.photos/id/223/300/300" />
      <ion-card-header>
        <ion-card-subtitle>Ponte Abandonada</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://picsum.photos/id/223/300/300" />
      <ion-card-header>
        <ion-card-subtitle>Ponte Abandonada</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </section>

  <ion-footer>
    <div class="botao-icon">
      <a href="/">
        <ion-icon class="footer-icon" name="home"></ion-icon>
      </a>
    </div>
    <div class="botao-icon">
      <a href="">
        <ion-icon class="footer-icon" name="book"></ion-icon>
      </a>
    </div>
    <div class="botao-icon">
      <a href="/favorito">
        <ion-icon class="footer-icon" name="star"></ion-icon>
      </a>
    </div>
  </ion-footer>

</ion-content>